<a href="https://colab.research.google.com/github/EduardoMoraesRitter/introducao-a-sistemas-de-recomendacao-com-python/blob/master/introducao_a_sistemas_de_recomendacao_com_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

filmes = pd.read_csv('movies.csv')
filmes.columns = ['filmeId', 'titulo', 'genero']
filmes = filmes.set_index('filmeId')
filmes.head()

                                     titulo                                       genero
filmeId
1                          Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2                            Jumanji (1995)                   Adventure|Children|Fantasy
3                   Grumpier Old Men (1995)                               Comedy|Romance
4                  Waiting to Exhale (1995)                         Comedy|Drama|Romance
5        Father of the Bride Part II (1995)                                       Comedy

In [4]:
notas = pd.read_csv('ratings.csv')
notas.columns = ['usuarioId', 'filmesId', 'nota', 'momento']
notas

        usuarioId  filmesId  nota     momento
0               1         1   4.0   964982703
1               1         3   4.0   964981247
2               1         6   4.0   964982224
3               1        47   5.0   964983815
4               1        50   5.0   964982931
...           ...       ...   ...         ...
100831        610    166534   4.0  1493848402
100832        610    168248   5.0  1493850091
100833        610    168250   5.0  1494273047
100834        610    168252   5.0  1493846352
100835        610    170875   3.0  1493846415

[100836 rows x 4 columns]

In [6]:
notas.describe()

           usuarioId       filmesId           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

#1Âº tipo de recomendaÃ§Ã£o - medida de popularidade por item
quando nao tenho informaÃ§Ã£o sobre o usuario novo eu recomendo os itens mais populares

In [7]:
notas['filmesId'].value_counts()

356       329
318       317
296       307
593       279
2571      278
         ...
5986        1
100304      1
34800       1
83976       1
8196        1
Name: filmesId, Length: 9724, dtype: int64

In [10]:
filmes.loc[318]

titulo    Shawshank Redemption, The (1994)
genero                         Crime|Drama
Name: 318, dtype: object