<a href="https://colab.research.google.com/github/EduardoMoraesRitter/introducao-a-sistemas-de-recomendacao-com-python/blob/master/Recomenda%C3%A7%C3%A3o_baseada_em_similaridade_de_genero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
filmes = pd.read_csv('movies.csv')
notas = pd.read_csv('ratings.csv')

In [11]:
filmes.columns = ['filmeId', 'titulo', 'generos']
filmes = filmes.set_index('filmeId')
filmes.head()

                                     titulo                                      generos
filmeId
1                          Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2                            Jumanji (1995)                   Adventure|Children|Fantasy
3                   Grumpier Old Men (1995)                               Comedy|Romance
4                  Waiting to Exhale (1995)                         Comedy|Drama|Romance
5        Father of the Bride Part II (1995)                                       Comedy

In [12]:
notas.columns = ['usuarioId', 'filmeId', 'nota', 'momento']
notas.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

#3ªRecomendação baseada em similaridade de genero - basea do no usuario

filtrar os mesmo generos que o usuario ja assistiu, sem saber a nota em si.

In [7]:
eu_assisti = [1,21,19,10,11,7,2]
filmes.loc[eu_assisti]

                                        titulo                                       genero
filmeId
1                             Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
21                           Get Shorty (1995)                        Comedy|Crime|Thriller
19       Ace Ventura: When Nature Calls (1995)                                       Comedy
10                            GoldenEye (1995)                    Action|Adventure|Thriller
11              American President, The (1995)                         Comedy|Drama|Romance
7                               Sabrina (1995)                               Comedy|Romance
2                               Jumanji (1995)                   Adventure|Children|Fantasy

In [21]:
filmes.query("generos=='Adventure|Children|Fantasy'").head()

                                            titulo  ... notas_medias
filmeId                                             ...
2                                   Jumanji (1995)  ...     3.431818
60              Indian in the Cupboard, The (1995)  ...     3.235294
126              NeverEnding Story III, The (1994)  ...     2.000000
1009               Escape to Witch Mountain (1975)  ...     3.055556
2043     Darby O'Gill and the Little People (1959)  ...     2.750000

[5 rows x 4 columns]

In [24]:
#para melhorar vamos colocar junto os dois primeiro filtros
total_de_votos = notas['filmeId'].value_counts()
filmes['total_de_votos'] = total_de_votos

notas_medias = notas.groupby('filmeId').mean()['nota']
filmes['notas_medias'] = notas_medias

filmes_mais_10 = filmes.query('total_de_votos >= 10')
filmes_mais_10_ordenados = filmes_mais_50.sort_values('notas_medias', ascending=False)

filmes_mais_10_ordenados_por_genero = filmes_mais_10_ordenados.query("generos=='Adventure|Children|Fantasy'")

filmes_mais_10_ordenados_por_genero

                                                    titulo  ... notas_medias
filmeId                                                     ...
4896     Harry Potter and the Sorcerer's Stone (a.k.a. ...  ...     3.761682
2161                         NeverEnding Story, The (1984)  ...     3.581395
59501     Chronicles of Narnia: Prince Caspian, The (2008)  ...     3.541667
41566    Chronicles of Narnia: The Lion, the Witch and ...  ...     3.443548
2                                           Jumanji (1995)  ...     3.431818
60                      Indian in the Cupboard, The (1995)  ...     3.235294
56171                           Golden Compass, The (2007)  ...     3.111111

[7 rows x 4 columns]

In [27]:
#remover os filmes que eu ja vi, e ignoras os itens que nao exite na lista
filmes_mais_10_ordenados_por_genero.drop(eu_assisti, errors='ignore')

                                                    titulo  ... notas_medias
filmeId                                                     ...
4896     Harry Potter and the Sorcerer's Stone (a.k.a. ...  ...     3.761682
2161                         NeverEnding Story, The (1984)  ...     3.581395
59501     Chronicles of Narnia: Prince Caspian, The (2008)  ...     3.541667
41566    Chronicles of Narnia: The Lion, the Witch and ...  ...     3.443548
60                      Indian in the Cupboard, The (1995)  ...     3.235294
56171                           Golden Compass, The (2007)  ...     3.111111

[6 rows x 4 columns]